body{
    background-color: rgba(240, 255, 239, 0.608);
}

#top {
    background-color: #cbf3ff;
    margin-top: 0px;
    width:auto;
}

h1 {
    font-size:50px;
    color: #09292e;
    padding-top: 15px;;
    text-align: center 
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Playfair&display=swap'); 
p {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #18555e;
    text-align: center; 
    padding-bottom: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Playfair&display=swap');
#menu ul li {
    font-family: 'Playfair', serif;
    font-size: 35px;
    text-align: center;
}

.xyz-zoo {
    background-color: rgba(254, 255, 170, 0.815);
    display: block;
    width: 300px;
    height: 40px; 
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-form {
    background-color: rgba(254, 255, 170, 0.815);
    display: block;
    width: 300px;
    height: 40px; 
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
}

li, a {
    text-decoration: none;
}
a:link {
    color: black;
}
a:hover {
    color:#1e7583;
}
a:active {
    color: rgb(240, 108, 130);
}
